Package: com.customvcam.tweak
Name: CustomVCAM
Version: 1.0.3
Architecture: iphoneos-arm64
Description: Virtual camera for bypassing web KYC verification systems
Maintainer: CustomVCAM <dev@customvcam.com>
Author: CustomVCAM <dev@customvcam.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0), preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Tag: purpose::extension 