{ Filter = { Bundles = ( "com.apple.camera", "com.apple.mobilesafari", "com.apple.WebKit.WebContent", "com.apple.WebKit.Networking", "com.burbn.instagram", "com.facebook.Facebook", "com.apple.facetime", "com.snapchat.snapchat", "com.whatsapp.WhatsApp", "com.skype.skype", "com.apple.springboard" ); }; } 